[Unit]
Description=SSH Tunnel Service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=$COMMAND
ExecStop=$COMMAND
EnvironmentFile=/opt/hiddify-relay/data.conf
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
