[Unit]
Description=SSH Tunnel Service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/ssh -f -N -L 1001:localhost:80 -L 1002:localhost:443 -p $SSH_PORT $SSH_USER@$SSH_SERVER
ExecStop=/usr/bin/pkill -f "ssh -f -N -L $LOCAL_PORT:localhost:$REMOTE_PORT -p $SSH_PORT $SSH_USER@$SSH_SERVER"
EnvironmentFile=/opt/hiddify-relay/ssh_tunnel.conf

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
