[Unit]
Description=wstunnel
After=network.target

[Service]
Type=simple
WorkingDirectory=/bin
ExecStart= wstunnel --server ws://0.0.0.0:$mport -v
Restart=on-failure

[Install]
WantedBy=multi-user.target